<!DOCTYPE html>
<html>
  <head>
    <title>Workout Tracker - Admin: Users</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="icon" type="image/x-icon" href="/static/treadmill.ico">
    <script src="/gojs/gojs.js"></script>
  </head>
  <body onload="pageAdminUsers()">
    <div id="somediv">
        <h1>Admin: Users</h1>
        {{if .}}
        <ul id="user_list">
            {{range .}}
                <li><a userid="{{.ID}}" href="">{{.Name}}</a></li>
            {{end}}
        </ul>
        {{end}}
        <h2>Add User</h2>
        <label>User name: </label>
        <input id="user_name_text" type="text">
        <button id="add_button">Add User</button> 
    </div>
  </body>
</html>
