<!DOCTYPE html>
<html>
  <head>
    <title>Workout Tracker</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="icon" href="/static/treadmill.ico" type="image/x-icon">

    <script defer src="/gojs/gojs.js"></script>
  
  </head>
<body>
  
<div id="browse">
  <h1 id="banner">Workout Tracker</h1>
</div>
</body>
</html>
