<!DOCTYPE html>
<html>
  <head>
    <title>Workout Tracker</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="icon" type="image/x-icon" href="/static/treadmill.ico">
    <script defer src="/gojs/gojs.js"></script>
  </head>
  <body>
    <div>
      <h1>Workout Tracker</h1>
      <h2><a href="/">Home</a></h2>
    </div>
    <div>
      <h2>Workout: {{}}Your prior sessions</h2>
      {{else}}
      <h2>You have no prior sessions. Start a new session from scratch or from a premade workout.</h2>
      {{end}}
      <ul>
      {{range .}}
        <li><a href="/workout/{{.ID}}">{{.Name}}: {{.StartTimeStr}} (edit)</a> &nbsp; <a href="/deleteWorkout/{{.ID}}">(delete)</a> &nbsp; <a href="/createWorkout/{{.ID}}">(copy)</a></li>
      {{end}}
      </ul>
    </div>
  </body>
</html>
